<?xml version="1.0" encoding="utf-8"?>
<!--
  Azure App Service configuration for Windows
  This file configures IIS to run Python applications
-->
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="D:\home\Python39\python.exe"
                  arguments="src\start_with_monitoring.py"
                  stdoutLogEnabled="true"
                  stdoutLogFile="D:\home\LogFiles\python.log"
                  startupTimeLimit="60"
                  startupRetryCount="3">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot;D:\home\site\wwwroot\src" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>

